.ctm-dropdown-link {
    width: 100%;
    display: block;
    color: #515365;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 14px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    text-align: left;
    &:hover {
        color: #4361ee;
        background: #ebedf2;
    }
}
